{% extends "layout.html" %}
{% block content %}
<div>
    <div class="form-control">
<h4>FHSU Blackboard Admin tools--Edward Tao</h4>
<hr>
    <h3>Create course</h3>
<p>
    You can create course or organization
</p>

<h3>Batch Add students</h3>
<p>
    Batch load students to the one course as a student or a guest
</p>

<h3>Batch Add Instructor</h3>
<p>Batch add instructor to the multiple courses</p>

<h3>Batch Course Copy</h3>
<p>Batch Course Copy to the existing course or the new course</p>
<h3>Course Merge</h3>
<p>Merge courses together</p>
    </div>
</div>
{% endblock content %}